
.bulletGroup {
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
    text-align: center;
}
.bulletGroup > h3 {
    font-size: 1.5em;
}

.icon {
    height: 142px;
    width: 142px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    position: relative;
    bottom: 67px;
    z-index: 100;
    padding: 15px;
    background-color: white;
    border: 2px solid #91A3CB;
    border-radius: 100%;
}

html[data-theme="dark"] .icon {
    filter: invert(0.9);
    border: 2px solid #6e5c34;
}